<section class="frontPage col-md-12 ">

    <h4 class="title text-center webDev "> Full Stack Web Developer</h4>
    <div class="newtorn">

        <div class="particles">
            <particles [style]="style" [params]="params"></particles>
        </div>
        <img class="img-responsive frontpageImg" appAnimation src="assets/images/image1.jpg" alt="">

        <div class="details">
            <ul class="details list-group col-md-5">
                <li class="list-group-item">
                    Name:Newtorn Moses Lwanga
                </li>
                <li class="list-group-item">
                    location:Dubai
                </li>

                <li class="list-group-item">
                    Origin:Uganda
                </li>
            </ul>
        </div>
                 
        <button class="btn btn-dark btn-block col-md-5 offset-4 my-5" (click)="hireme()">Hire Me</button>


    </div>



</section>

<section class="whatido col-md-12 ">
    <a class="btn btn-primary btn-block offset-3  text-white col-md-6 ">  What i do</a>

    <div class="row">

        <div class="webDev col-md-4 ">
            <h5 class="text-center"> Web Development</h5>
            <img src="assets/images/development.desktop-512.png" alt="">
        </div>

        <div class="mobileApp col-md-4 ">
            <h5 class="text-center"> Mobile App Development</h5>
            <img src="assets/images/mobile-application.png" alt="">

        </div>
        <div class="photoEditing col-md-4 ">
            <h5 class="text-center"> Media Editing</h5>
            <img src="assets/images/Videos-icon.png" alt="">
        </div>


    </div>
</section>

<section class="technologies ">
    <h5 class="text-center text-white">Technologies</h5>
    <div class="frontEnd col-md-12 col-sm-12 col-xs-12 col-xs-offset-4">
        <h3 class="frontend_tec text-center"> <u>Front-End</u> <img src="assets/images/api(1).png" alt=""></h3>
        <div class="row frontend">
            <div class="photoshop  col-md-3 col-sm-4 col-xs-6 col-xs-offset-4 col-md-offset-0 col-sm-offset-0 ">
                <h5>Photoshop</h5>
                <img src="assets/images/photoshop.png" alt="">

            </div>

            <div class="html  col-md-3 col-sm-4 col-xs-6 col-xs-offset-4 col-md-offset-0 col-sm-offset-0">
                <h5>Html5</h5>
                <img src="assets/images/html.png" alt="">

            </div>

            <div class="html  col-md-3 col-sm-4 col-xs-6 col-xs-offset-4 col-md-offset-0 col-sm-offset-0">
                <h5>Css3</h5>
                <img src="assets/images/css3.png" alt="">

            </div>

            <div class="html  col-md-3 col-sm-4 col-xs-6 col-xs-offset-4 col-md-offset-0 col-sm-offset-0">
                <h5>Javascript</h5>
                <img src="assets/images/javascript.png" alt="">

            </div>

            <div class="html  col-md-3 col-sm-4 col-xs-6 col-xs-offset-4 col-md-offset-0 col-sm-offset-0">
                <h5>JQuery</h5>
                <img src="assets/images/jquery.png" alt="">

            </div>

            <div class="html  col-md-3 col-sm-4 col-xs-6 col-xs-offset-4 col-md-offset-0 col-sm-offset-0">
                <h5>Angular</h5>
                <img src="assets/images/angular.png" alt="">

            </div>
            <div class="html  col-md-3 col-sm-4 col-xs-6 col-xs-offset-4 col-md-offset-0 col-sm-offset-0">
                <h5>Vue js</h5>
                <img src="assets/images/vue.jpeg" alt="">

            </div>
        </div>

    </div>

    <div class="backEnd">
        <h3 class="backend_text text-center text-white"> <u>Back-End</u> <img src="assets/images/9.png" alt=""></h3>

        <div class="row backend mx-4">
            <div class="html  col-md-3 col-sm-4 col-xs-6">
                <h5>Node js</h5>
                <img src="assets/images/1200px-Node.js_logo.svg.png" alt="">

            </div>

            <div class="html  col-md-3 col-sm-4 col-xs-6">
                <h5>Express</h5>
                <img src="assets/images/express.png" alt="">

            </div>

            <div class="html  col-md-3 col-sm-4 col-xs-6">
                <h5>Socket.io</h5>
                <img src="assets/images/socket.jpg" alt="">

            </div>

            <div class="html  col-md-3 col-sm-4 col-xs-6">
                <h5>Mongo DB</h5>
                <img src="assets/images/mongodb-review.jpg" alt="">

            </div>

            <div class="html  col-md-3 col-sm-4 col-xs-6">
                <h5>Php</h5>
                <img src="assets/images/logo-php.png" alt="">

            </div>


            <div class="html  col-md-3 col-sm-4 col-xs-6">
                <h5>Laravel</h5>
                <img src="assets/images/laravel.png" alt="">

            </div>

            <div class="html  col-md-3 col-sm-4 col-xs-6">
                <h5>Mysql</h5>
                <img src="assets/images/mysql.png" alt="">

            </div>



            <div class="html  col-md-3 col-sm-4 col-xs-6">
                <h5>Stripe</h5>
                <img src="assets/images/social.png" alt="">

            </div>



        </div>

    </div>

</section>



<section class="projects col-md-12 col-sm-12">
    <h5 class="text-center projects_title"> My recent Projects</h5>
    <div class="frontEnd">
        <div class="row">

            <div class="card col-md-4">
                <img src="assets/images/projects/hotel.png" alt="" class="card-img-top">
                <div class="card-body">
                    <div class="card-title">
                        <h5>HOTEL LUXUZ</h5>
                    </div>

                    <div class="card-footer">
                        This is a hotel web App that showcases the beauty, services, and a small fast food online shop .plus hotel bookings; Full authentication using the Passport.js; The application sends a confirmation email after a successfull purchase.
                    </div>
                    <h5 class="text-center">Technologies <img src="assets/images/1200px-Node.js_logo.svg.png" alt="" width="60px"></h5>
                    <ul class="list-group">
                        <li class="list-group-item">
                            javscript-Front-End
                        </li>
                        <li class="list-group-item">
                            Node js
                        </li>
                        <li class="list-group-item">
                            Express
                        </li>
                        <li class="list-group-item">
                            Handlebars
                        </li>
                        <li class="list-group-item">
                            Passport .js
                        </li>
                        <li class="list-group-item">
                            Stripe
                        </li>
                        <li class="list-group-item">
                            Mongo DB
                        </li>
                        <li class="list-group-item">
                            Node Mailer
                        </li>

                    </ul>
                    <a href="#" class="btn btn-primary viewProfile">View web</a>

                </div>
            </div>

            <div class="card col-md-4">

                <img src="assets/images/projects/shop.png" alt="" class="card-img-top">
                <div class="card-body">
                    <div class="card-title">
                        <h5>VAXON SHOP</h5>
                    </div>

                    <div class="card-footer">
                        This is a an oline Shop App where pple can shop products online using thier credit cards. Full authentication using the default laravel Auth; The application sends a confirmation email after a successfull purchase.
                    </div>
                    <h5 class="text-center">Technologies <img src="assets/images/logo-php.png" alt="" width="60px"></h5>
                    <ul class="list-group">
                        <li class="list-group-item">
                            Vue js-Front-End
                        </li>
                        <li class="list-group-item">
                            Php 7.2
                        </li>
                        <li class="list-group-item">
                            Laravel-5.6
                        </li>
                        <li class="list-group-item">
                            Blade
                        </li>
                        <li class="list-group-item">
                            Stripe
                        </li>
                        <li class="list-group-item">
                            Mysql
                        </li>
                        <li class="list-group-item">
                            Node Mailer
                        </li>

                    </ul>
                    <a href="#" class="btn btn-primary viewProfile">View web</a>

                </div>
            </div>





            <div class="card col-md-4">

                <img src="assets/images/projects/property.png" alt="" class="card-img-top">
                <div class="card-body">
                    <div class="card-title">
                        <h5>PROPERTY MASTERS</h5>
                    </div>

                    <div class="card-footer">
                        This is a an oline Property search and buy App where users can upload thier property and get clients to view them. The app also has a messaging service where u can contact the uploader directly for more details about the property. Full authentication
                        using the default laravel Auth.
                    </div>
                    <h5 class="text-center">Technologies <img src="assets/images/logo-php.png" alt="" width="60px"></h5>
                    <ul class="list-group">
                        <li class="list-group-item">
                            Vue js-Front-End
                        </li>
                        <li class="list-group-item">
                            Php 7.2
                        </li>
                        <li class="list-group-item">
                            Laravel-5.6
                        </li>
                        <li class="list-group-item">
                            Blade
                        </li>

                        <li class="list-group-item">
                            Mysql
                        </li>


                    </ul>
                    <a href="#" class="btn btn-primary viewProfile">View web</a>

                </div>
            </div>





            <div class="card col-md-4">

                <img src="assets/images/projects/blog.png" alt="" class="card-img-top">
                <div class="card-body">
                    <div class="card-title">
                        <h5>IT LABS</h5>
                    </div>

                    <div class="card-footer">
                        This is an Information Technology blog with good information concerning I.T. Users can comment and reply to comments. Full authentication using passport.js.
                    </div>
                    <h5 class="text-center">Technologies <img src="assets/images/1200px-Node.js_logo.svg.png" alt="" width="60px"></h5>
                    <ul class="list-group">
                        <li class="list-group-item">
                            javascript-Front-End
                        </li>
                        <li class="list-group-item">
                            Node js
                        </li>
                        <li class="list-group-item">
                            Express js
                        </li>
                        <li class="list-group-item">
                            Handlebars
                        </li>

                        <li class="list-group-item">
                            Passport .js
                        </li>

                        <li class="list-group-item">
                            Mongo DB
                        </li>


                    </ul>
                    <a href="#" class="btn btn-primary viewProfile">View web</a>

                </div>
            </div>



            <div class="card col-md-4">
                <img src="assets/images/projects/news.png" alt="" class="card-img-top">
                <div class="card-body">
                    <div class="card-title">
                        <h5>Flight Search </h5>
                    </div>

                    <div class="card-footer">
                        This is a an online Flight web app service app where anyone can search and find latest flights according to location in the world.

                    </div>
                    <h5 class="text-center">Technologies <img src="assets/images/angular.png" alt="" width="60px"></h5>
                    <ul class="list-group">
                        <li class="list-group-item">
                            Angular 4-Front-End
                        </li>
                        <li class="list-group-item">
                            Javascript
                        </li>
                        <li class="list-group-item">
                            Html 5
                        </li>
                        <li class="list-group-item">
                            Css
                        </li>




                    </ul>
                    <a href="#" class="btn btn-primary viewProfile">View web</a>

                </div>
            </div>



            <div class="card col-md-4">

                <img src="assets/images/projects/news.png" alt="" class="card-img-top">
                <div class="card-body">
                    <div class="card-title">
                        <h5>KINGDOM NEWS</h5>
                    </div>

                    <div class="card-footer">
                        This is a an online News service app where anyone can search and find latest news in the world.

                    </div>
                    <h5 class="text-center">Technologies <img src="assets/images/angular.png" alt="" width="60px"></h5>
                    <ul class="list-group">
                        <li class="list-group-item">
                            Angular 4-Front-End
                        </li>
                        <li class="list-group-item">
                            Javascript
                        </li>
                        <li class="list-group-item">
                            Html 5
                        </li>
                        <li class="list-group-item">
                            Css
                        </li>




                    </ul>
                    <a href="#" class="btn btn-primary viewProfile">View web</a>

                </div>
            </div>


            <div class="card col-md-4">

                <img src="assets/images/projects/hotel.png" alt="" class="card-img-top">
                <div class="card-body">
                    <div class="card-title">
                        <h5>PROPERTY MASTERS</h5>
                    </div>

                    <div class="card-footer">
                        This is a an oline Property search and buy App where users can upload thier property and get clients to view them. The app also has a messaging service where u can contact the uploader directly for more details about the property. Full authentication
                        using the default laravel Auth.
                    </div>
                    <h5 class="text-center">Technologies <img src="assets/images/logo-php.png" alt="" width="60px"></h5>
                    <ul class="list-group">
                        <li class="list-group-item">
                            Vue js-Front-End
                        </li>
                        <li class="list-group-item">
                            Php 7.2
                        </li>
                        <li class="list-group-item">
                            Laravel-5.6
                        </li>
                        <li class="list-group-item">
                            Blade
                        </li>

                        <li class="list-group-item">
                            Mysql
                        </li>


                    </ul>
                    <a href="#" class="btn btn-primary viewProfile">View web</a>

                </div>
            </div>

            <div class="card col-md-4">

                <img src="assets/images/projects/hotel.png" alt="" class="card-img-top">
                <div class="card-body">
                    <div class="card-title">
                        <h5>PROPERTY MASTERS</h5>
                    </div>

                    <div class="card-footer">
                        This is a an oline Property search and buy App where users can upload thier property and get clients to view them. The app also has a messaging service where u can contact the uploader directly for more details about the property. Full authentication
                        using the default laravel Auth.
                    </div>
                    <h5 class="text-center">Technologies <img src="assets/images/logo-php.png" alt="" width="60px"></h5>
                    <ul class="list-group">
                        <li class="list-group-item">
                            Vue js-Front-End
                        </li>
                        <li class="list-group-item">
                            Php 7.2
                        </li>
                        <li class="list-group-item">
                            Laravel-5.6
                        </li>
                        <li class="list-group-item">
                            Blade
                        </li>

                        <li class="list-group-item">
                            Mysql
                        </li>


                    </ul>
                    <a href="#" class="btn btn-primary viewProfile">View web</a>

                </div>
            </div>





        </div>
    </div>

    <div class="back-end">

    </div>

</section>


<section class="footer">

</section>